/* CSS File for Login Page */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');
/* font-family: 'Bebas Neue'; */


body
	{
		background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/images/bg.jpg");
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin: 0;
		padding: 0;
		overflow-x:hidden;
	}

.banner-container
	{
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: linear-gradient(yellow, red);
		height: 200px;
	}

.banner-container .banner
	{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
}

.banner-container .banner .logo1
	{
		flex: 1 1 250px;
		left: 78%;
		position: absolute;
		padding-top: 10px;
	}

.banner-container .banner .text
	{
		flex: 1 1 250px;
		font-family: 'Bebas Neue';
		letter-spacing: 1rem;
		font-weight: bold;
		font-size: 80px;
		color: white;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	}

.banner-container .banner .logo2
	{
		flex: 1 1 250px;
		right: 78%;
		position: absolute;
		padding-top: 10px;
	}

.box 
	{
		background-color: rgba(255, 255, 255, 0.9);
		height: 440px;
		width: 600px;
		margin-left: 3%;
		margin-right: 25%;
		padding-left: 3%;
		padding-right: 3%;
		border-radius: 20px;
	}

h3
	{

		font-family: 'Bebas Neue';
		letter-spacing: 0.5rem;
		font-size: 70px;
		text-align: center;
		color: #FF5349;
		margin-bottom: 9px;
	}

.user
	{
		font-family: 'Bebas Neue';
		letter-spacing: 0.5rem;
		font-size: 30px;
		text-align: left;
		color: #FF5349;
	}

.user-pass
	{
		font-family: 'Bebas Neue';
		letter-spacing: 0.5rem;
		font-size: 30px;
		text-align: left;
		color: #FF5349;
	}

::placeholder
	{
		font-family: 'Bebas Neue';
		letter-spacing: 0.5rem;
		font-size: 30px;
		position: absolute;
		color: #FF5349;
	}
	
input
	{
		background-color: #FF5349;
		border: none;
		width: 400px;
		height: 50px;
		outline: none;
		font-size: 30px;
		padding-left: 10px;
		color: #fff;
	}


button
	{	
		font-family: Times New Roman;
		font-size: 45px;
		background-color: #feb54a;
		font-weight: bold;
		border: none;
		float: right;
		border-radius: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 50px;
		cursor: pointer;
	}
button:hover {
	background-color: #FF5349;
}

.register-link
	{
		padding-top: 100px;
		font-size: 25px;
		font-weight: bold;
	}

a
	{
		color: red;
	}