/* CSS File for Products Create Page */

body
  {
    background-color: #ffcd74;
  }

.main-contents
  {
    background-color: white;
    height:320px;
    width: 620px;
    margin-top: 50px;
    margin-left: 40px;
  }

.dot-logo
  {
    margin-top: -22px;
    margin-left : -22px;
    padding-bottom: 8px;
    position: relative;
  }

hr
  {
    border: 2px solid #feb54a;
    margin-left: -28px;
    margin-right: -28px;
  }

.h1-style
  {
    display: inline-block;
    position: absolute;
    padding-left: 10px;
    padding-top: 3px;
  }

.addproducts-input
  {
    padding-left: 14px;
    padding-right: 14px;
  }

.flavor
  {
    width: 100%;
    height: 48px;
    margin-top: 30px;
    border: 8px solid #febd59;
    font-size: 25px;
    padding-left: 71px;
    outline: none;
  }

.flavor::placeholder
  { 
    font-family: Times New Roman;
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding-left: 14px;
    position: absolute;
    padding-top: 5px;
  }

.input-icons i 
  {
        position: absolute;
    }
         
.fa-circle#first
  {
        padding-top: 46px;
        padding-left: 12px;
        display: inline-block;
        color: #fede59;
  }

.fa-circle#second
  {
        padding-top: 46px;
        padding-left: 32px;
        display: inline-block;
        color: #fede59;
  }

.fa-circle#third
  {
        padding-top: 46px;
        padding-left: 52px;
        display: inline-block;
        color: #fede59;
  }

.vl
  {
    border-left: 3px solid #feb54a;
    height: 48px;
    position: absolute;
    margin-top: 30px;
    margin-left: 74px;
  }

.quantity
  {
    width: 30%;
    height: 48px;
    margin-top: 30px;
    border: 8px solid #febd59;
    font-size: 25px;
    padding-left: 46px; 
    outline: none;
  }

.quantity::placeholder
  { 
    font-family: Times New Roman;
    font-weight: bold;
    color: black;
    font-size: 16px;
    padding-left: 4px;
    position: absolute;
    padding-top: 7px;
  }

.fa-shopping-cart
  {
    padding-top: 38px;
        padding-left: 11px;
        display: inline-block;
        color: #4a90fd;
  }

.vl2
  {
    border-left: 3px solid #feb54a;
    height: 48px;
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
  }

.buying-price
  {
    width: 30%;
    height: 48px;
    margin-top: 30px;
    border: 8px solid #febd59;
    font-size: 25px;
    padding-left: 40px;
    outline: none;
    margin-left: 4.2%;
    margin-right: 4.2%;
  }

.buying-price::placeholder
  { 
    font-family: Times New Roman;
    font-weight: bold;
    color: black;
    font-size: 12px;
    padding-left: 7px;
    position: absolute;
    padding-top: 9px;
  }

.peso-sign
  {
    padding-top: 34px;
        padding-left: 38px;
        display: inline-block;
        position: absolute;
        color: #4a90fd;
        font-size: 35px;
  }

.vl3
  {
    border-left: 3px solid #feb54a;
    height: 48px;
    position: absolute;
    margin-top: -48px;
    margin-left: 230px;
  }

.selling-price
  {
    width: 30%;
    height: 48px;
    margin-top: 30px;
    border: 8px solid #febd59;
    font-size: 25px;
    padding-left: 42px;
    outline: none;
  }

.selling-price::placeholder
  { 
    font-family: Times New Roman;
    font-weight: bold;
    color: black;
    font-size: 12px;
    padding-left: 4px;
    position: absolute;
    padding-top: 9px;
  }

.peso-sign2
  {
    padding-top: 34px;
        padding-left: 16px;
        display: inline-block;
        position: absolute;
        color: #4a90fd;
        font-size: 35px;
  }

.vl4 
  {
    border-left: 3px solid #feb54a;
    height: 48px;
    position: absolute;
    margin-top: -48px;
    margin-left: 420px;
  }

.product-image
  {
    width: 60%;
    height: 48px;
    margin-top: 30px;
    border: 8px solid #febd59;
    font-size: 15px;
    padding-left: 70px;
    padding-top: 5px;
    outline: none;
  }

.fa-file-image-o
  {
    padding-top: 38px;
        padding-left: 14px;
        display: inline-block;
        color: #4a90fd;
  }

.vl5
  {
    border-left: 3px solid #feb54a;
    height: 48px;
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
  }

.btn
  {
    width: 25%;
    margin-left: 76px;
    background-color: #ff9c5c;
    border: none;
    font-weight: bold;
    font-family: Times New Roman;
    height: 35px;
  }
